<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}</style><link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"><style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style><style type="text/css">.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Fabio Valencio, http://www.wingmanbeer.com">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="" type="image/png">

    <!--[if lt IE 9]>
    <script src="/web/views/assets/js/html5.js" type="text/javascript"></script>
    <![endif]-->

    <script async="" src="//www.google-analytics.com/ga.js" style=""></script>
    <link rel="stylesheet" id="dsidxpress-unconditional-css" href="/web/views/assets/css/perfil.css" type="text/css" media="all">
    <link rel="stylesheet" id="dsidxpress-unconditional-css" href="/web/views/assets/css/client_002.css" type="text/css" media="all">
    <link rel="stylesheet" id="dsidxwidgets-unconditional-css" href="/web/views/assets/css/client.css" type="text/css" media="all">
    <link rel="stylesheet" id="contact-form-7-css" href="/web/views/assets/css/styles.css" type="text/css" media="all">
    <link rel="stylesheet" id="bhittani_plugin_kksr-css" href="/web/views/assets/css/css.css" type="text/css" media="all">
    <link rel="stylesheet" id="rs-settings-css" href="/web/views/assets/css/settings.css" type="text/css" media="all">
    <link rel="stylesheet" id="rs-captions-css" href="/web/views/assets/css/captions.css" type="text/css" media="all">
    <link rel="stylesheet" id="font-css" href="/web/views/assets/css/css_002.css" type="text/css" media="all">
    <link rel="stylesheet" id="font-css" href="/web/views/assets/css/css_003.css" type="text/css" media="all">
    <link rel="stylesheet" id="bootstrap-css" href="/web/views/assets/css/bootstrap.css" type="text/css" media="all">

    <link rel="stylesheet" id="chosen-css" href="/web/views/assets/css/chosen.css" type="text/css" media="all">
    <link rel="stylesheet" id="fancybox-css" href="/web/views/assets/css/jquery.css" type="text/css" media="all">

    <link rel="stylesheet" id="style-css" href="/web/views/assets/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/web/views/assets/css/language-selector.css" type="text/css" media="all">
    <link rel="stylesheet" id="colorbox-css" href="/web/views/assets/libraries/colorbox/example1/colorbox.css?ver=3.8.1" type="text/css" media="all">
    <link rel="stylesheet" id="general_variant-css" href="/web/views/assets/css/realia-blue.css" type="text/css" media="all">
    <link rel="stylesheet" id="bootstrap-responsive-css" href="/web/views/assets/css/bootstrap-responsive.css" type="text/css" media="all">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true&key=AIzaSyABg3_lAn7VYyoxp8SaM98ZarA7S-2LQkQ"></script>

    <script type="text/javascript" src="/web/views/assets/js/instagram.min.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/helper.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/london.js"></script>
    <script type="text/javascript" src="/web/views/assets/libraries/colorbox/jquery.colorbox.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/jquery.carouFredSel-6.2.1.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/carousel.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/gmap3.min.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/gmap3.clusterer.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/gmap3.infobox.min.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/html5.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/jquery.ezmark.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/jquery.form.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/aviators_map.js"></script>
    <link rel="stylesheet" id="colorbox-css" href="http://wp.realia.byaviators.com/wp-content/themes/realia/assets/libraries/colorbox/example1/colorbox.css?ver=3.8.1" type="text/css" media="all">
    <script type="text/javascript"src="/web/views/assets/js/sliderman.1.3.7.js"></script>

    <script type="text/javascript" src="/web/views/assets/libraries/iosslider/_src/jquery.iosslider.min.js?ver=3.8.1"></script>
    <script type="text/javascript" src="/web/views/assets/js/realia.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/script.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/scripts.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/sitepress.js"></script>


    <script type="text/javascript" src="/web/views/assets/js/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/helper-plugins/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/helper-plugins/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="/web/views/assets/js/helper-plugins/jquery.transit.min.js"></script>

    <script type="text/javascript">var icl_lang = 'en';var icl_home = 'http://www.wingman.dev:8888/';</script>
    <script type="text/javascript" src="http://www.codehelper.io/api/ips/?js"></script>

  <!--  <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=624446070962311";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script> -->

    <!--<script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/client:plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>-->

<body class="home page page-id-53 page-template page-template-page-properties-grid-php  header-dark color-blue pattern-none layout-wide ">

<div id="wrapper-outer">
    <div id="wrapper">
        <div id="wrapper-inner">
            <div class="header-top-wrapper">
                <div class="header-top">
                    {% include 'helpers/topbar.twig' %}

                    <!-- HEADER -->
                    <div id="header-wrapper">
                        <div id="header">
                            <div id="header-inner">
                                <div class="container">
                                    <div class="navbar">
                                        <div class="navbar-inner">
                                            <div class="row">
                                                <div class="logo-wrapper span4">
                                                    <a href="#nav" id="btn-nav"></a>

                                                    {# LOGO #}
                                                    <div class="logo">
                                                        <a href="{{ home }}" title="{{ page_title }}">
                                                            <img src="/web/views/assets/img/logo.png" alt="{{ name }}">
                                                        </a>
                                                    </div><!-- /.logo -->

                                                    {# TITLE #}
                                                    {% if title is defined %}
                                                        {% if name %}
                                                            <div class="site-name">
                                                                <a href="{{ home }}" title="{{ title }}" class="brand">
                                                                    {{ name }}
                                                                </a>
                                                            </div><!-- /.site-name -->
                                                        {% endif %}
                                                    {% endif %}

                                                    {# DESCRIPTION #}
                                                    {% if slogan is defined %}
                                                        {% if description is defined %}
                                                            <div class="site-slogan">
                                                                <span>{{ description }}</span>
                                                            </div><!-- /.site-slogan -->
                                                        {% endif %}
                                                    {% endif %}
                                                </div><!-- /.logo-wrapper -->

                                                {#//email#}

                                                {# LIST YOUR PROPERTY #}
                                                {% if is_granted('ROLE_USER') %}

                                                    {% if name_button is defined %}
                                                        <a class="btn btn-primary btn-large list-your-property arrow-right"
                                                           href="{{ path('profile') }}">
                                                            Welcome {{ app.security.token.user.name }}
                                                        </a>
                                                    {% endif %}
                                                {% else %}
                                                    {% if name_button is defined %}
                                                        <a class="btn btn-primary btn-large list-your-property arrow-right"
                                                            href="{{ path('login') }}">
                                                            {{ name_button }}
                                                        </a>
                                                    {% endif %}
                                                {% endif %}

                                            </div><!-- /.row -->
                                        </div><!-- /.navbar-inner -->
                                    </div><!-- /.navbar -->
                                </div><!-- /.container -->
                            </div><!-- /#header-inner -->
                        </div><!-- /#header -->
                    </div><!-- /#header-wrapper -->
                </div><!-- /.top -->
            </div><!-- /.top-wrapper -->

            <!-- NAVIGATION -->
            <div id="navigation">
                <div class="container">
                    <div class="navigation-wrapper">
                        <div class="navigation clearfix-normal">
                            {% include 'helpers/menu.twig' %}
                        </div><!-- /.navigation -->
                    </div><!-- /.navigation-wrapper -->
                </div><!-- /.container -->
            </div><!-- /.navigation -->