
{% if message is defined %}
    <div class="span12">
        {% if message != null %}
            <div class="alert ">
                {{ message }}
            </div><!-- /.alert -->
        {% endif %}
        {% if erroLink is defined %}
            {% if erroLink != null %}
            <div class="alert ">
                Sorry, something went wrong. Try again <a href='{{ erroLink }}'>Click here</a>
            </div><!-- /.alert -->
            {% endif %}
        {% endif %}

        {% if error is defined%}
            <div class="alert alert-error">
                {{ error }}
            </div>
        {% endif %}

    </div><!-- /.span12 -->
{% endif %}