{% extends 'layout-fullwidth.twig' %}

{% block content %}

    <div class="innerAll">
    <div class="row-1">
    <div class="col-lg-9 col-md-8">

       <!-- <div class="timeline-cover">
            <div class="widget-1 cover">
                <div class="widget-1-body padding-none margin-none">
                    <div class="top">
                        <img src="../assets//images/photodune-2755655-party-time-s.jpg" class="img-responsive">
                    </div>
                    <ul class="list-unstyled">
                        <li><a href="index.html?lang=en&amp;v=v1.0.1-rc2"><i class="fa fa-fw fa-clock-o"></i> Timeline</a></li>
                        <li class="active"><a href="about_1.html?lang=en&amp;v=v1.0.1-rc2"><i class="fa fa-fw fa-user"></i> About</a></li>
                        <li><a href="media_1.html?lang=en&amp;v=v1.0.1-rc2"><i class="fa fa-fw icon-photo-camera"></i> Photos <span>(102)</span></a></li>
                        <li><a href="contacts_1.html?lang=en&amp;v=v1.0.1-rc2"><i class="fa fa-fw icon-group"></i> Friends <span>(19)</span></a></li>
                        <li><a href="messages.html?lang=en&amp;v=v1.0.1-rc2"><i class="fa fa-fw icon-envelope-fill-1"></i> Messages <span>(2 new)</span></a></li>
                    </ul>
                    <div class="status innerAll">
                        <i class="fa fa-quote-left text-muted pull-left fa-fw"></i>
                        <p class="lead margin-none">What a fun Partyyy</p>
                    </div>
                </div>
            </div>
        </div> -->


        <h3>About</h3>

        <div class="row-1">
            <div class="col-sm-6">
                <div class="innerAll bg-white">
                    <h5>Short Bio</h5>
                    <div class="media innerB ">


                        <div id="slider_container_2" class="pull-left">
                            <div id="SliderName_2">
                            {% if dataUser['foursquare'].photo.prefix is defined %} <img src="{{ dataUser['foursquare'].photo.prefix }}75x75{{ dataUser['foursquare'].photo.suffix }}" alt="" width="75"> {% endif %}
                            {% if dataUser['instagram'].data.profile_picture is defined %} <img src="{{ dataUser['instagram'].data.profile_picture }}" alt="" width="75"> {% endif %}
                            {% if dataUser['twitter'].profile_image_url is defined %} <img src="{{ dataUser['twitter'].profile_image_url }}" alt="" width="75"> {% endif %}
                            {% if dataUser['dataUser']['facebook']['username'] is defined %} <img src="http://graph.dataUser['facebook'].com/{{ dataUser['facebook']['username'] }}/picture" alt="" width="75"> {% endif %}
                            </div>
                        </div>

                        <script type="text/javascript">
                            var demoSlider = Sliderman.slider({
                                container: 'SliderName_2', width: 75, height: 75, effects: "fade",
                                display: { autoplay: 3000, loading: {background: '#000000', opacity: 0.5, image: 'demos/demo_2/img/loading.gif'}, buttons: null },
                                navigation: null});
                        </script>
                        <div class="media-body">
                            {% if dataUser['foursquare'].bio is defined %} <p> {{ dataUser['foursquare'].bio }} <i>by Foursquare</i> </p> {% endif %}
                            {% if dataUser['instagram'].data.bio is defined %} <p> {{ dataUser['instagram'].data.bio }} <i>by Instagram</i> </p> {% endif %}
                            {% if dataUser['twitter'].description is defined %} <p> {{ dataUser['twitter'].description }} <i>by Twitter</i> </p> {% endif %}
                            {% if dataUser['facebook']['bio'] is defined %} <p> {{ dataUser['facebook']['bio'] }} <i>by Facebook</i> </p> {% endif %}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="widget-1">
                    <div class="widget-1-head border-bottom bg-gray">
                        <h5 class="innerAll pull-left margin-none">Basic Info</h5>
                        <div class="pull-right">
                            <a href="" class="text-muted">
                                <i class="fa fa-pencil innerL"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-1-body">
                        <div class="row prow">
                            <div class="col-sm-6">User:</div>
                            <div class="col-sm-6 text-right">
                                <span class="label label-default">{{ user.username }}</span>
                            </div>
                        </div>
                        <div class="row prow">
                            <div class="col-sm-6">Friends:</div>
                            <div class="col-sm-6 text-right">
                                <script>
                                    var fsq = {% if friends['foursquare'] is defined %} {{ friends['foursquare']|length }} {% else %} 0 {% endif %};
                                    var ins = {% if friends['instagram'] is defined %} {{ friends['instagram']|length }} {% else %} 0 {% endif %};
                                    var twi = {% if friends['twitter'] is defined %} {{ friends['twitter']|length }} {% else %} 0 {% endif %};
                                    var gop = {% if friends['googleplus'] is defined %} {{ friends['googleplus']|length }} {% else %} 0 {% endif %};
                                    var fac = {% if friends['facebook'] is defined %} {{ friends['facebook']|length }} {% else %} 0 {% endif %};
                                    var ttt = fsq+ins+twi+gop+fac;
                                    document.write('<span class="label label-default">'+ttt+'</span>');
                                </script>

                            </div>
                        </div>
                        <div class="row prow">
                            <div class="col-sm-6">Checkins:</div>
                            <div class="col-sm-6 text-right">
                                <span class="label label-default">{% if dataUser['foursquare'].checkins.count is defined %} {{ dataUser['foursquare'].checkins.count }} {% endif %}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-1">
                    <div class="widget-1-head border-bottom bg-gray">
                        <h5 class="innerAll pull-left margin-none">Social media</h5>
                        <div class="pull-right">
                           <!-- <a href="" class="text-muted">
                                <i class="fa fa-facebook innerL"></i>
                            </a>
                            <a href="" class="text-muted">
                                <i class="fa fa-twitter innerL"></i>
                            </a>
                            <a href="" class="text-muted">
                                <i class="fa fa-dribbble innerL"></i>
                            </a> -->
                        </div>
                    </div>
                    <div class="widget-1-body padding-none">
                        {% if visitor is defined %}
                        <div class="border-top innerAll">
                            {% if dataUser['foursquare'] is defined %}
                                <span class="innerR innerB">
                                <a href="https://foursquare.com/user/{{ dataUser['foursquare'].id }}" target="_blank"><i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/4sq.png); width: 20px; height: 20px;" data-original-title="Foursquare" data-placement="bottom"></i></a>
                                </span>
                            {% else %}
                                <span class="innerR innerB">
                                <i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/4sq.png); opacity: 0.4; filter: alpha(opacity=40); width: 20px; height: 20px;" data-original-title="Foursquare" data-placement="bottom"></i>
                                </span>
                            {% endif %}

                            {% if dataUser['instagram'] is defined %}
                                <span class="innerR innerB">
                                <a href="https://instagram.com/{{ dataUser['instagram'].data.username }}" target="_blank"><i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/Instagram.png); width: 20px; height: 20px;" data-original-title="Instagram" data-placement="bottom"></i></a>
                                </span>
                            {% else %}
                                <span class="innerR innerB">
                                <i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/Instagram.png); opacity: 0.4; filter: alpha(opacity=40); width: 20px; height: 20px;" data-original-title="Instagram" data-placement="bottom"></i>
                                </span>
                            {% endif %}

                            {% if dataUser['twitter'] is defined %}
                                <span class="innerR innerB">
                                <a href="https://twitter.com/{{ dataUser['twitter'].screen_name }}" target="_blank"><i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/twitter.png); width: 20px; height: 20px;" data-original-title="Twitter" data-placement="bottom"></i></a>
                                </span>
                            {% else %}
                                <span class="innerR innerB">
                                <i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/twitter.png); opacity: 0.4; filter: alpha(opacity=40); width: 20px; height: 20px;" data-original-title="Twitter" data-placement="bottom"></i>
                                </span>
                            {% endif %}

                            {% if dataUser['googlePlus'] is defined %}
                                <span class="innerR innerB">
                                <a href="https://www.plus.google.com/{{ dataUser['googlePlus'] }}" target="_blank"><i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/g+.png); width: 20px; height: 20px;" data-original-title="Google Plus" data-placement="bottom"></i></a>
                                </span>
                            {% else %}
                                <span class="innerR innerB">
                                <i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/g+.png); opacity: 0.4; filter: alpha(opacity=40); width: 20px; height: 20px;" data-original-title="Google Plus" data-placement="bottom"></i>
                                </span>
                            {% endif %}

                            {% if dataUser['facebook'] is defined %}
                                <span class="innerR innerB">
                                <a href="https://www.facebook.com/{{ dataUser['facebook'].username }}" target="_blank"><i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/facebook.png); width: 20px; height: 20px;" data-original-title="Facebook" data-placement="bottom"></i></a>
                                </span>
                            {% else %}
                                <span class="innerR innerB">
                                <i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/facebook.png); opacity: 0.4; filter: alpha(opacity=40); width: 20px; height: 20px;" data-original-title="Facebook" data-placement="bottom"></i>
                                </span>
                            {% endif %}
                        </div>

                        {% else %}
                        <div class="border-top innerAll">
                            <!--<p class=" margin-none"><i class="fa fa-link fa-fw text-muted"></i> <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>-->
                            {% if dataUser['foursquare'] is defined %}
                                <span class="innerR innerB">
                                 <i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/4sq.png); opacity: 0.4; filter: alpha(opacity=40); width: 20px; height: 20px;" data-original-title="Foursquare" data-placement="bottom"></i>
                            </span>
                            {% else %}
                                <span class="innerR innerB">
                                {% if login4SQ is defined %}<a href="{{ login4SQ }}"><i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/4sq.png); width: 20px; height: 20px;" data-original-title="Foursquare" data-placement="bottom"></i></a>{% endif %}
                            </span>
                            {% endif %}
                            {% if dataUser['instagram'] is defined %}
                                <span class="innerR innerB">
                                 <i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/Instagram.png); opacity: 0.4; filter: alpha(opacity=40); width: 20px; height: 20px;" data-original-title="Instagram" data-placement="bottom"></i>
                            </span>
                            {% else %}
                                <span class="innerR innerB">
                                {% if loginInsta is defined %}<a href="{{ loginInsta }}"><i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/Instagram.png); width: 20px; height: 20px;" data-original-title="Instagram" data-placement="bottom"></i></a>{% endif %}
                            </span>
                            {% endif %}
                            {% if dataUser['twitter'] is defined %}
                                <span class="innerR innerB">
                                 <i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/twitter.png); opacity: 0.4; filter: alpha(opacity=40); width: 20px; height: 20px;" data-original-title="Twitter" data-placement="bottom"></i>
                            </span>
                            {% else %}
                                <span class="innerR innerB">
                                {% if loginTwitter is defined %}<a href="{{ loginTwitter }}"><i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/twitter.png); width: 20px; height: 20px;" data-original-title="Twitter" data-placement="bottom"></i></a>{% endif %}
                            </span>
                            {% endif %}
                            {% if dataUser['googlePlus'] is defined %}
                                <span class="innerR innerB">
                                 <i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/g+.png); opacity: 0.4; filter: alpha(opacity=40); width: 20px; height: 20px;" data-original-title="Google Plus" data-placement="bottom"></i>
                            </span>
                            {% else %}
                                <span class="innerR innerB">
                                {% if loginGoogle is defined %}<a href="{{ loginGoogle }}"><i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/g+.png); width: 20px; height: 20px;" data-original-title="Google Plus" data-placement="bottom"></i></a>{% endif %}
                            </span>
                            {% endif %}
                            {% if dataUser['facebook'] is defined %}
                                <span class="innerR innerB">
                                 <i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/facebook.png); opacity: 0.4; filter: alpha(opacity=40); width: 20px; height: 20px;" data-original-title="Google Plus" data-placement="bottom"></i>
                            </span>
                            {% else %}
                                <span class="innerR innerB">
                                {% if loginFace is defined %}<a href="{{ loginFace }}"><i class="box-generic innerAll fa fa-4x" data-toggle="tooltip" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/facebook.png); width: 20px; height: 20px;" data-original-title="Google Plus" data-placement="bottom"></i></a>{% endif %}
                            </span>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>


        <div class="innerT">
            {% if friends['foursquare'] is defined %}
            <div class="widget-1">
                <div class="widget-1-head border-bottom bg-gray">
                    <h5 class="pull-left margin-none innerAll">Foursquare Friends <span class="text-muted">({{ friends['foursquare']|length }})</span></h5>
                    <div class="pull-right">
                        <a href="" class="text-muted">
                            <i class="fa fa-eye innerL"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-1-body margin-none">
                    <div class="innerAll">
                        {% for friends in friends['foursquare'] %}
                            <a href="/profile/{{ friends.username }}">
                                <img src="{{ friends.picture }}" width="50" alt="{{ friends.name }}" class="innerR innerB half">
                            </a>
                        {% endfor %}


                    </div>
                </div>

            </div>
            {% endif %}
        </div>

    </div>
    <div class="col-md-4 col-lg-3">

        <div class="widget-1" style="margin-top: 60px;">
            <div class="widget-1-body text-center">
                <img src="{{ user.picture }}" width="120" alt="" class="img-circle">
                <h2 class="strong margin-none">{{ user.name }}</h2>

                <div class="btn-group-vertical btn-block">
                    {% if visitor is not defined %}
                        <!-- <a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Edit Account</a> -->
                        <a href="{{ path('admin_logout') }}" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="widget-1 text-center">
            <div class="innerTB">
                <div class="innerB"><i class=" icon-thumbs-up-fill fa fa-4x text-faded"></i></div>
                <h2 class="strong margin-none">Get 50% OFF</h2>
                <p class="lead">$30 / month</p>
                <button class="btn btn-info">Register Today! <i class="fa fa-fw fa-play-circle"></i></button>
            </div>
            <!-- Ribbon -->
            <div class="ribbon-wrapper"><div class="ribbon">50% Off</div></div>


        </div>

<!--
        <div class="widget-1">
            <h5 class="innerAll margin-none border-bottom bg-gray">Recent News</h5>
            <div class="widget-1-body padding-none">
                <div class="media border-bottom innerAll margin-none">
                    <img src="../assets/images/people/35/22.jpg" class="pull-left media-object">
                    <div class="media-body">
                        <a href="" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="" class="text-inverse">Social Admin Released</a></h5>
                        <small>on February 2nd, 2014 </small>
                    </div>
                </div>
                <div class="media border-bottom innerAll margin-none">
                    <img src="../assets/images/people/35/22.jpg" class="pull-left media-object">
                    <div class="media-body">
                        <a href="" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="" class="text-inverse">Timeline Cover Page</a></h5>
                        <small>on February 2nd, 2014 </small>
                    </div>
                </div>
                <div class="media border-bottom innerAll margin-none">
                    <img src="../assets/images/people/35/22.jpg" class="pull-left media-object">
                    <div class="media-body">
                        <a href="" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="" class="text-inverse">1000+ Sales</a></h5>
                        <small>on February 2nd, 2014 </small>
                    </div>
                </div>
                <div class="media border-bottom innerAll margin-none">
                    <img src="../assets/images/people/35/22.jpg" class="pull-left media-object">
                    <div class="media-body">
                        <a href="" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="" class="text-inverse">On-Page Optimization</a></h5>
                        <small>on February 2nd, 2014 </small>
                    </div>
                </div>
                <div class="media border-bottom innerAll margin-none">
                    <img src="../assets/images/people/35/22.jpg" class="pull-left media-object">
                    <div class="media-body">
                        <a href="" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="" class="text-inverse">14th Admin Template</a></h5>
                        <small>on February 2nd, 2014 </small>
                    </div>
                </div>
            </div>
        </div>


        <div class="widget-1 widget-1-heading-simple widget-1-body-white">


            <div class="widget-1-head">
                <h4 class="heading glyphicons glyphicons-social twitter"><i></i>Twitter feed</h4>
            </div>


            <div class="widget-1-body" data-builder-exclude="element children">
                <div class="jstwitter" data-gridalicious="false" data-type="slide" data-images="false"><span class="label label-default">{% if twitt is defined %} {{ dump(twitt) }} {% endif %}</span></div>
            </div>
        </div>


        -->


    </div>
    </div>
    </div>
{% endblock %}