.col-lg-9{
    width: 80%;
}
.cover .cover {
    overflow: hidden;
}
.padding-none {
    padding: 0 !important;
}
.margin-none {
    margin: 0 !important;
}
div.row-1, ul.row-1 {
    margin: 0 -5px;
}
.prow {
    margin: 0 -5px !important;
}
.col-sm-6 {
    padding: 0 5px;
    width: 47%;
    float: left;
}
.bg-white {
    background: #fff !important;
}
.innerAll{
    padding: 10px;
    position: relative;
}
.innerB {
    padding-bottom: 10px;
    position: relative;
}
.media, .media .media {
    margin-top: 15px;
    overflow: hidden;
    zoom: 1;
}
.media>.pull-left {
    margin-right: 10px;
}
.pull-left {
    float: left;
}
.media-body {
    overflow: hidden;
    zoom: 1;
}
.innerB {
    padding-bottom: 10px;
    position: relative;
}
.innerR {
    padding-right: 10px;
    position: relative;
}
.box-generic {
    padding: 10px;
    position: relative;
    background: #fff;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 0 0 10px;
}
.fa-4x {
    font-size: 4em;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.widget-1{
    background: #fff;
    margin: 0 auto 10px;
    position: relative;
    border: 1px solid #efefef;
}
.widget-1-head {
    background: #f7f7f7;
    border-bottom: 1px solid #efefef;
    height: 35px;
    line-height: 35px;
    position: relative;
    padding: 0 10px 0 0;
    overflow: hidden;
}
.border-bottom {
    border-bottom: 1px solid #efefef !important;
}
.bg-gray {
    background: #f9f9f9 !important;
}
.pull-right {
    float: right;
}
.text-muted {
    color: #cacaca;
}
.widget-1-body {
    padding: 10px;
}
.innerT {
    padding-top: 10px;
    position: relative;
    float: left;
    min-width: 96%;
}
div[class*="col-md-"], div[class*="col-lg-"], li[class*="col-xs-"], li[class*="col-sm-"], li[class*="col-md-"], li[class*="col-lg-"] {
    padding: 0 5px;
    max-width: 70%;
    float: left;
}
.col-lg-3 {
    width: 25%;
}
.border-bottom {
    border-bottom: 1px solid #efefef !important;
}
.media>.pull-left {
    margin-right: 10px;
}
.widget-1.widget-1-heading-simple {
    border: none;
    background: none;
}
.widget-1.widget-1-heading-simple>.widget-1-head .heading.glyphicons {
    padding: 0 0 0 25px;
}
.widget-1.widget-1-heading-simple>.widget-1-head .heading {
    padding: 0;
    height: 25px;
    line-height: 25px;
}
.widget-1 .widget-1-head .heading {
    /* margin: 0; */
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    font-weight: 700;
    /* float: left; */
}
.widget-1.widget-1-body-white>.widget-1-body {
    background: #fff;
}
.widget-1.widget-1-heading-simple>.widget-1-body {
    border: 1px solid #efefef;
}
.widget-1 .widget-1-body {
    padding: 10px;
}
.jstwitter {
    position: relative;
}