{% extends 'layout-fullwidth.twig' %}

{% block content %}

    <div class="login-register">
        <div class="row">
            <div class="span4">
                <ul class="tabs nav nav-tabs">
                    <li {% if type == "login" %}class="active"{% endif %}><a href="#login" data-toggle="tab">Login</a></li>
                    <li {% if type == "register" %}class="active"{% endif %}><a href="#register" data-toggle="tab">Register</a>

                </ul><!-- /.nav -->

                <div class="tab-content">
                    <div class="tab-pane {% if type == "login" %} active {% endif %}" id="login">
                        <form method="post" action="{{ path('admin_login_check') }}">
                            <input type="hidden" name="redirect_to" value="">
                            <div class="control-group">
                                <label class="control-label" for="inputLoginLogin">
                                    Username
                                    <span class="form-required">*</span>
                                </label>

                                <div class="controls">
                                    <input type="text" id="inputUsername" name="_username" {% if last_username is defined %} value="{{ last_username }}" {% endif %} required="required">
                                </div>
                                <!-- /.controls -->
                            </div>
                            <!-- /.control-group -->

                            <div class="control-group">
                                <label class="control-label" for="inputLoginPassword">
                                    Password
                                    <span class="form-required">*</span>
                                </label>

                                <div class="controls">
                                    <input type="password" id="inputPassword" name="_password" required="required">
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->
                            <br>
                            <div class="form-actions">
                                <input type="submit" value="Login" class="btn btn-primary arrow-right">

                            </div><!-- /.form-actions -->
                        </form>
                    </div><!-- /.tab-pane -->

                    <style>
                        #register a {width: 40px; height: 40px; display: block; margin-left: 25px; float: left;}
                        #register .icon {height: 60px;}
                    </style>

                    <div class="tab-pane {% if type == "register" %} active {% endif %}" id="register">

                       <div class="icon">

                        {% if login4SQ is defined %}<a href="{{ login4SQ }}"    style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/4sq.png);"></a>{% endif %}
                        {% if loginInsta is defined %}<a href="{{ loginInsta }}"  style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/Instagram.png); "></a>{% endif %}
                        {% if loginTwitter is defined %}<a href="{{ loginTwitter }}" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/twitter.png); "></a>{% endif %}
                        {% if loginGoogle is defined %}<a href="{{ loginGoogle }}" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/g+.png); "></a>{% endif %}
                        {% if loginFace is defined %}<a href="{{ loginFace }}" style="background-image: url(http://wingmanbeer.com/web/views/assets/img/icons/facebook.png); "></a>{% endif %}

                       </div>
                        <hr>
                        <form method="post" action="{{ path('log-in') }}">
                            <input type="hidden" name="redirect_to" value="">

                            <div class="control-group">
                                <label class="control-label" for="inputRegisterName">
                                    Name
                                    <span class="form-required" title="This field is required.">*</span>
                                </label>

                                <div class="controls">
                                    <input type="text" id="inputRegisterName" {% if userProfile['firstName'] is defined %} value="{{ userProfile['firstName'] }}" {% endif %}  required="required" name="user_name">
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->

                            <div class="control-group">
                                <label class="control-label" for="inputRegisterEmail">
                                    E-mail
                                    <span class="form-required" title="This field is required.">*</span>
                                </label>

                                <div class="controls">
                                    <input type="text" id="inputRegisterEmail" {% if userProfile['email'] is defined %} value="{{ userProfile['email'] }}" {% endif %} required="required" name="user_email">
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->

                            <div class="control-group">
                                <label class="control-label" for="inputRegisterUsername">
                                    Username
                                    <span class="form-required" title="This field is required.">*</span>
                                </label>

                                <div class="controls">
                                    <input type="text" id="inputRegisterUsername" {% if userProfile['userName'] is defined %} value="{{ userProfile['userName'] }}" {% endif %} required="required" name="user_username">
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->

                            <div class="control-group">
                                <label class="control-label" for="inputRegisterPassword">
                                    Password
                                    <span class="form-required" title="This field is required.">*</span>
                                </label>

                                <div class="controls">
                                    <input type="password" id="inputRegisterPassword" required="required" name="user_pwd">
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->

                            <div class="control-group">
                                <label class="control-label" for="inputRegisterPassword">
                                    confirm Password
                                    <span class="form-required" title="This field is required.">*</span>
                                </label>

                                <div class="controls">
                                    <input type="password" id="" required="required" name="">
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->

                            <div class="control-group">
                                <label class="control-label" for="inputRegisterGender">
                                    Gender

                                </label>

                                    <select name="user_gender">
                                        <option value="0">Select</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                    </select>

                            </div><!-- /.control-group -->

                            <div class="form-actions">
                                <input type="submit" value="Register" class="btn btn-primary arrow-right">
                                <input type="hidden" {% if userProfile['id'] is defined %} value="{{ userProfile['id'] }}" {% endif %} name="id">
                                <input type="hidden" {% if userProfile['token'] is defined %} value="{{ userProfile['token'] }}" {% endif %} name="token">
                                <input type="hidden" {% if userProfile['type'] is defined %} value="{{ userProfile['type'] }}" {% endif %} name="type">
                                <input type="hidden" {% if userProfile['picture'] is defined %} value="{{ userProfile['picture'] }}" {% endif %} name="picture">
                            </div><!-- /.form-actions -->
                        </form>



                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
            </div><!-- /.span4-->

            <div class="span8" style="line-height: 33px;">

                {% block body %}{% endblock %}
            </div>
        </div><!-- /.row -->
    </div><!-- /.login-register -->
{% endblock %}