{% include 'helpers/header.twig' %}

<div id="content" class="clearfix">


    <div class="container">
        <div class="row">
            {% include 'helpers/messages.twig' %}

            <div id="main" class="span12">
                {% block content %}{% endblock %}
            </div><!-- /#main -->
        </div><!-- /.row -->


    </div><!-- /.container -->

    {% include 'helpers/sidebar-bottom.twig' %}
</div><!-- /#content -->

{% include 'helpers/sidebar-footer.twig' %}