{% extends 'layout-login-register.twig' %}

{% block body %}

    {% if messageHtml is defined  %}
        <h2>{{ messageHtml }}</h2>
    {% else %}
        <p>We love <img src="https://playfoursquare.s3.amazonaws.com/press/logo/foursquare-logo.png" style="height:auto; width:auto; max-width:100px; max-height:100px;">
        you should use <a href="{{ login4SQ }}"><img src="https://playfoursquare.s3.amazonaws.com/press/logo/connect-black.png" style="width: 150px; height: 24px; display: -webkit-inline-box;"></a>
        to have a better experience with us we can show you the best pubs in the world and we will also show you the best places to go near each pub you still be able to choose between several types of points of interest.
        </p>
        <p>
        That's not all, we can show you a world of information if you also allow we use your login details.
        </p>
        <p>
        Will show what nobody has ever done for you, you will have all the information in one place, we are your wingman
        </p>
    {% endif %}

        <!--<span id="signinButton">
      <span
              class="g-signin"
              data-callback="signinCallback"
              data-clientid="CLIENT_ID"
              data-cookiepolicy="single_host_origin"
              data-requestvisibleactions="http://schemas.google.com/AddActivity"
              data-scope="https://www.googleapis.com/auth/plus.login">
      </span>
    </span>
    <br>
    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="true" data-auto-logout-link="false"></div>-->

{% endblock %}