{% extends 'layout2.twig' %}
{% block content %}

    <div class="container">
        <div class="row">
            
            
            <div id="main" class="span9">
                    <h1 class="page-header">{{ pub.name }}</h1>

        <div class="carousel property">
        <div class="preview">
            {% for photo in photos %}

                <a href="{{ photo.prefix|e }}870x420{{ photo.suffix|e }}" class="colorbox gallery cboxElement" id="slide-{{ loop.index }}">
                    <img src="{{ photo.prefix|e }}870x420{{ photo.suffix|e }}" alt="">
                </a>


            {% endfor %}
        </div>
        <!-- /.preview -->

        <div class="content">
            <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 725px; height: 75px; margin: 0px 0px 10px 25px; overflow: hidden;">
            	<ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 3045px; height: 75px;">

                    {% for photo in photos %}
                    <li data-index="{{ loop.index }}">
                    	<img src="{{ photo.prefix|e }}870x420{{ photo.suffix|e }}" alt="">
                    </li>
                    {% endfor %}

                </ul>
            </div>

            <a class="carousel-prev" href="#" style="display: block;">Previous</a>
            <a class="carousel-next" href="#" style="display: block;">Next</a>
        </div>
            <script>
                jQuery(document).ready(function ($) {

                    $('.preview>a').eq(0).addClass('active');
                    $('.caroufredsel_wrapper>ul>li').eq(0).addClass('active');

                });
            </script>
        <!-- /.content -->
    </div><!-- /.carousel -->

    <div class="property-detail">
        {% if pub.menu is defined %}
        <div class="pull-left overview" id="iframe" style="height: 300px">
        	<iframe src='{{ pub.menu.mobileUrl }}#venueMenu' width="100%" height="100%" align="center" ></iframe>
		</div><!-- /.overview -->
        {% endif %}

        {% if pub.tips.groups[0].items is defined %}
		Tips:
        <p>
			{% for tip in pub.tips.groups[0].items   %}
             	{{ tip.text|e }} </br></br>
            {% endfor %}
		</p>
        {% endif %}

            <h2>Map</h2>

    <div id="property-map" style="position: relative; background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0);"></div>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            function LoadMapProperty() {
                var locations = new Array(
                        [{{ pub.location.lat }}, {{ pub.location.lng }}]
                );
                var types = new Array(
                        '{{ pub.categories[0].name }}'
                );
                //var markers = new Array();
                //var plainMarkers = new Array();

                var mapOptions = {
                    center     : new google.maps.LatLng({{ pub.location.lat }}, {{ pub.location.lng }}),
                    zoom       : 14,
                    mapTypeId  : google.maps.MapTypeId.ROADMAP,
                    scrollwheel: false
                };

                var map = new google.maps.Map(document.getElementById('property-map'), mapOptions);

                $.each(locations, function (index, location) {
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(location[0], location[1]),
                        map     : map,
                        icon    : 'icon.png'
                    });

                    var myOptions = {
                        draggable             : true,
                        content               : '<div class="marker ' + types[index] + '"><div class="marker-inner"></div></div>',
                        disableAutoPan        : true,
                        pixelOffset           : new google.maps.Size(-21, -58),
                        position              : new google.maps.LatLng(location[0], location[1]),
                        closeBoxURL           : "",
                        isHidden              : false,
                        // pane: "mapPane",
                        enableEventPropagation: true
                    };
                    marker.marker = new InfoBox(myOptions);
                    marker.marker.isHidden = true;
                    marker.marker.open(map, marker);
                    marker.push(marker);
                });

//                google.maps.event.addListener(map, 'zoom_changed', function () {
//                    $.each(markers, function (index, marker) {
//                        marker.infobox.close();
//                    });
//                });
            }

            google.maps.event.addDomListener(window, 'load', LoadMapProperty);

            var dragFlag = false;
            var start = 0, end = 0;

            function thisTouchStart(e) {
                dragFlag = true;
                start = e.touches[0].pageY;
            }

            function thisTouchEnd() {
                dragFlag = false;
            }

            function thisTouchMove(e) {
                if (!dragFlag) return;
                end = e.touches[0].pageY;
                window.scrollBy(0, ( start - end ));
            }

            document.getElementById("property-map").addEventListener("touchstart", thisTouchStart, true);
            document.getElementById("property-map").addEventListener("touchend", thisTouchEnd, true);
            document.getElementById("property-map").addEventListener("touchmove", thisTouchMove, true);
        });

    </script>
    </div>

        <div id="comments" class="comments-area">
        
        		
    </div><!-- /#comments -->

            </div><!-- /#main -->

                            <div class="sidebar span3">
                                            <div id="enquireproperties_widget-2" class="widget enquire">

    <h2>Enquire Now</h2>

<div class="content">
    <form method="post" action="http://wp.realia.byaviators.com/wp-content/themes/realia/aviators/plugins/properties/enquire.php">

                    <div class="control-group">
                <label class="control-label" for="inputName">
                    Name
                    <span class="form-required" title="This field is required.">*</span>
                </label>

                <div class="controls">
                    <input type="text" id="inputName" name="name" required="required">
                </div>
                <!-- /.controls -->
            </div><!-- /.control-group -->
        
                    <div class="control-group">
                <label class="control-label" for="inputPhone">
                    Phone
                    <span class="form-required" title="This field is required.">*</span>
                </label>

                <div class="controls">
                    <input type="text" id="inputPhone" name="phone" required="required">
                </div>
                <!-- /.controls -->
            </div><!-- /.control-group -->
        
                    <div class="control-group">
                <label class="control-label" for="inputDate">
                    Date
                    <span class="form-required" title="This field is required.">*</span>
                </label>

                <div class="controls">
                    <input type="date" id="inputDate" name="date" required="required">
                </div>
                <!-- /.controls -->
            </div><!-- /.control-group -->
        
        
        
                    <div class="control-group">
                <label class="control-label" for="inputEmail">
                    Email
                    <span class="form-required" title="This field is required.">*</span>
                </label>

                <div class="controls">
                    <input type="email" id="inputEmail" name="email" required="required">
                </div>
                <!-- /.controls -->
            </div><!-- /.control-group -->
        
                    <div class="control-group">
                <label class="control-label" for="inputMessage">
                    Message
                    <span class="form-required" title="This field is required.">*</span>
                </label>

                <div class="controls">
                    <textarea id="inputMessage" name="message" required="required"></textarea>
                </div>
                <!-- /.controls -->
            </div><!-- /.control-group -->
        
        <div class="form-actions">
            <input type="hidden" name="post_id" value="24">
            <button class="btn btn-primary arrow-right">Send</button>
        </div>
        <!-- /.form-actions -->
    </form>
</div><!-- /.content -->

</div>    <div id="assignedagents_widget-2" class="widget our-agents">

            <h2>Assigned Agents</h2>
    
    <div class="content">
                    <div class="agent clearfix">
                <div class="image">
                    <a href="http://wp.realia.byaviators.com/agents/martin-crane/">
                                                    <img width="140" height="141" src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/emma-small.png" class="attachment-post-thumbnail wp-post-image" alt="emma-small">
                                            </a>
                </div>
                <!-- /.image -->

                <div class="name">
                    <a href="http://wp.realia.byaviators.com/agents/martin-crane/">Sarah Connor</a>
                </div>
                <!-- /.name -->
                <div class="phone">222-333-444</div>
                <!-- /.phone -->
                <div class="email"><a href="mailto:martin@example.com">martin@example.com</a>
                </div>
                <!-- /.email -->
            </div><!-- /.agent -->
            </div><!-- /.content -->

    </div>
                    
                    <div id="featuredproperties_widget-4" class="widget properties">

    <h2>Featured</h2>

<div class="content">
                        <div class="property">
                <div class="image">
                    <a href="http://wp.realia.byaviators.com/properties/3412-cloudcroft-dr-2-2/"></a>
                                            <img src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/property-small-6-240x177.png" alt="3412 Cloudcroft Dr">
                                    </div>
                <!-- /.image -->

                <div class="wrapper">
                    <div class="title">
                        <h3><a href="http://wp.realia.byaviators.com/properties/3412-cloudcroft-dr-2-2/">
                                                                    3412 Cloudcroft Dr
                                                            </a></h3>
                    </div>
                    <!-- /.title -->

                    <div class="location">Silicon Valley, SA</div>
                    <!-- /.location -->

                    <div class="price">
                                                    249000 €                                             </div>
                    <!-- /.price -->
                </div>
                <!-- /.wrapper -->
            </div>
                    <div class="property">
                <div class="image">
                    <a href="http://wp.realia.byaviators.com/properties/1030-palo-alto-ave/"></a>
                                            <img src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/property-small-4-240x177.png" alt="1030 Palo Alto Ave">
                                    </div>
                <!-- /.image -->

                <div class="wrapper">
                    <div class="title">
                        <h3><a href="http://wp.realia.byaviators.com/properties/1030-palo-alto-ave/">
                                                                    1030 Palo Alto Ave
                                                            </a></h3>
                    </div>
                    <!-- /.title -->

                    <div class="location">Palo Alto, SA</div>
                    <!-- /.location -->

                    <div class="price">
                                                    486000 €                                             </div>
                    <!-- /.price -->
                </div>
                <!-- /.wrapper -->
            </div>
                    <div class="property">
                <div class="image">
                    <a href="http://wp.realia.byaviators.com/properties/1041-fife-ave/"></a>
                                            <img src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/property-small-3-240x177.png" alt="1041 Fife Ave">
                                    </div>
                <!-- /.image -->

                <div class="wrapper">
                    <div class="title">
                        <h3><a href="http://wp.realia.byaviators.com/properties/1041-fife-ave/">
                                                                    1041 Fife Ave
                                                            </a></h3>
                    </div>
                    <!-- /.title -->

                    <div class="location">Palo Alto, SA</div>
                    <!-- /.location -->

                    <div class="price">
                                                    450000 €                                             </div>
                    <!-- /.price -->
                </div>
                <!-- /.wrapper -->
            </div>
            </div><!-- /.content -->

</div>    

                </div><!-- /#sidebar -->
                    </div><!-- /.row -->

                    <div class="content-bottom-wrapper">
	<div class="content-bottom">
		<div class="content-bottom-inner">
					</div><!-- /.content-bottom-inner -->
	</div><!-- /.content-bottom -->
</div><!-- /.content-bottom-wrapper -->
            </div><!-- /.container -->

    </div>
    {% endblock %}